<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="user" class="com.weichuang.domain.User">
        <!--set方法注入-->
        <property name="name" value="赵四"></property>
        <property name="age" value="18"></property>
    </bean>
    <bean name="user1" class="com.weichuang.domain.User">
        <!--构造方法注入-->
        <constructor-arg name="name" value="dudu" index="0" type="java.lang.String"></constructor-arg>
        <constructor-arg name="age" value="18" index="1" ></constructor-arg>
    </bean>
    <bean name="car" class="com.weichuang.domain.Car">
        <property name="name" value="benz"></property>
        <property name="color" value="red"></property>
    </bean>

    <!--表达式注入-->
    <bean name="use2" class="com.weichuang.domain.User">
        <property name="name" value="#{user.name}"></property>
        <property name="age" value="#{user.age}"></property>
        <property name="car" value="#{user.car}"></property>

    </bean>
    <bean name="car2" class="com.weichuang.domain.Car">
        <property name="name" value="阿斯顿马丁"></property>
        <property name="color" value="red"></property>
    </bean>

</beans>